$white: #FFF;
$dark-white: #FFF;
$default-blue: #4c9da4;
$light-blue: #9be1e5;
$dark-blue: #529396;
$light-red: #ec9096;
$medium-grey: #919191;
$dark-grey: #363b3c;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: $dark-blue;
  background-color: $dark-white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}


#root {
  width: 100vw;
  margin: 0;
}

.header {
  display: flex;
  min-height: 3rem;
  background-color: $default-blue;
  color: $white;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &__left {
    cursor: pointer;
  }

  &__left,
  &__right {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__title {
    text-align: left;
    flex: 1;
    font-size: 2rem;
    font-weight: 800;
    line-height: 2.5rem;
    margin-left: 1rem;
  }

  &__logo img {
    width: 2.5rem;
    height: 2.5rem;
  }

  &__button {
    color: $white;
    background-color: $default-blue;
    border: 2px solid $white;
    margin-left: 1rem;

    span {
      display: none;
    }

    &:hover {
      color: $default-blue;
      background-color: $white;
      border: 2px solid $white;
      box-shadow: none;
    }
  }

  .switch-view {
    display: none;
  }

  @media screen and (min-width: 1024px) {
    height: 3rem;
    justify-content: space-between;

    .switch-view {
      display: block;
    }

    &__button span {
      display: inline;
    }
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  text-transform: uppercase;
  color: $white;
  text-shadow: 1px 1px 2px $default-blue;
  background-color: $dark-blue;

  &:hover:enabled {
    border: 0;
    box-shadow: rgb(209, 210, 214) 0 0.2rem 0.5rem;
  }

  &.red {
    background-color: $light-red;
  }

  &:disabled,
  &[disabled] {
    background-color: $light-blue;
  }
}

.container {
  padding: 1rem;

  @media screen and (min-width: 1024px) {
    padding: 3rem 5rem;
  }
}

.d-inline {
  display: inline-block;
}
