.product {
  &__card {
    display: flex;
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(209, 210, 214) 0 0.2rem 0.5rem;
    padding: 0 1rem;
    span {
      font-weight: 700;
      text-decoration: underline;
    }
    &__title {
      cursor: pointer;
      font-size: 1.6rem;
      font-weight: 600;
      margin: 1.6rem 2rem;
      text-decoration: underline;
    }
    &__field {
      flex: 1;
    }
  }


  &__list {
    display: flex;
    padding: 3rem;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;

    &--panel {
      .product__card {
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &__title {
          width: 20%;
        }
      }
    }
    &--grid {
      .product__card {
        min-width: 20rem;
        min-height: 20rem;
        flex-direction: column;
        text-align: left;

        .product__spacer {
          flex: 1;
        }
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }

  &__details {
    padding: 3rem 5rem;

    >div {
      margin: 1.6rem 0;
    }

    &__title {
      font-size: 2rem;
      font-weight: 600;
      margin: 1.6rem 0;
    }

    &__buttons > button {
      margin-right: 1.2rem;
    }

    .label {
      font-weight: 700;
      text-decoration: underline;
    }
  }
}

.badge {
  font-size: 0.8rem;
  display: inline-block;
  margin-left: 0.6rem;
  text-align: center;
  color: $white;
  background-color: $dark-blue;
  border-radius: 50%;
  text-decoration: none;
  width: 1.4rem;
  height: 1.4rem;
}
